<!-- Libs -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.14&sensor=true"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="libs/keydragzoom_packed.js" type="text/javascript"></script>
<script src="libs/markerwithlabel.js"></script>
<script src="libs/driveRadius.js"></script>
<script src="libs/bootstrap.min.js"></script>

<!-- Angular Scripts -->
<script src="libs/angular/angular.js"></script>
<script src="libs/angular/angular-resource.js"></script>
<script src="libs/angular-ui.min.js"></script>
<script src="js/app-angular.js"></script>
<script src="js/directives.js"></script>
<script src="js/helpers.js"></script>
<script src="js/controllers/admin-ctrl.js"></script>
<script src="js/controllers/client-ctrl.js"></script>
<script src="js/controllers/orders-ctrl.js"></script>
<script src="js/controllers/store-ctrl.js"></script>
<script src="js/controllers/sub-order-ctrl.js"></script>
<script src="js/controllers/time-period-ctrl.js"></script>
<script src="js/controllers/user-ctrl.js"></script>
<script src="js/services.js"></script>
