import Equilateral from './Equilateral';



import('./Equilateral')




import('./Equilateral')
  .then(Equilateral => { /* Use <Equilateral /> */ });



import(/* webpackChunkName: "equilateral" */ './Equilateral');
