import './Equilateral';



import('./Equilateral')



// Promise
import('./Equilateral')
  .then(Equilateral => { /* Use <Equilateral /> */ });

// or async/await
const Equilateral = await import('./Equilateral');



import(/* webpackChunkName: "equilateral" */ './Equilateral');
