import { area } from './math';

const el = id => document.getElementById(id);

const baseEl = el('base');
const heightEl = el('height');
const calculateEl = el('calculate');
const resultEl = el('result');

calculateEl.onclick = function() {
  const base = baseEl.value;
  const height = heightEl.value;
  const result = area(base, height);

  resultEl.innerText = result;
};
